.Table {
    width: 100%;
}

.Table th{
    background-color: #0d5555;
}

.Table .Par {
    background-color: dimgray;
}

.Table .Impar {
    background-color: darkgray;
}

.Table .Par, .Impar {
    color: azure;
}